body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 520px;
}
a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
a:active,
a:hover {
    color: #bd5a35;
    text-decoration: underline;
}
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}
table {
    table-layout: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
}
table tr {
    text-align: center;
    padding-left: 20px;
}
table tr td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}
table tr td {
    padding: 10x;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
}
table tr.even td {
    background: #f6f6f6;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr:hover td {
    background: #f2f2f2;
}