body {
    font-family: Arial, Sans-Serif;
}
.menyy {
    margin-bottom: 20px;
}
.menyy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1080px;
    margin: 0px auto;
    width: 520px;
}
a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
a:active,
a:hover {
    color: #bd5a35;
    text-decoration: underline;
}
.menyy li {
    width: 8em;
    padding: 5px 10px;
    background-color: #AAAAAA;
    float: left;
}
.menyy li.valitud {
    background-color: red;
}
.menyy li.valitud a {
    color: white;
}
.menyy li a {
    color: red;
    text-decoration: none;
}
.menyy li a:hover {
    text-decoration: underline;
}
table {
    border-spacing: 0;
}
td,
th {
    padding: 5px 10px;
    border-top: 1px solid #AAAAAA;
}
input[type="text"],
input[type="password"] {
    font-family: Arial, Sans-Serif;
    font-size: 15px;
    width: 100;
    padding: 5px 10px;
    border: 1px dashed #AAAAAA;
    border-radius: 3px;
}